*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#4e73df;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:400px;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,.3);
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.input-box{
    display:flex;
}

input{
    flex:1;
    padding:10px;
    font-size:16px;
}

button{
    padding:10px 20px;
    border:none;
    background:#4e73df;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#3156c9;
}

ul{
    list-style:none;
    margin-top:20px;
}

li{
    background:#f4f4f4;
    margin:10px 0;
    padding:12px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-radius:5px;
}

.delete{
    background:red;
    color:white;
    border:none;
    padding:6px 10px;
    cursor:pointer;
}

.delete:hover{
    background:darkred;
}
.top-bar{
    display:flex;
    gap:10px;
    margin-bottom:15px;
}

#searchInput{
    flex:1;
    padding:10px;
}

.completed{
    text-decoration:line-through;
    color:gray;
}

.stats{
    display:flex;
    justify-content:space-between;
    margin:15px 0;
    font-size:14px;
    font-weight:bold;
}

.clear-btn{
    width:100%;
    margin-bottom:10px;
    background:#ff4d4d;
}

.clear-btn:hover{
    background:#d63031;
}

li{
    transition:.3s;
}

li:hover{
    transform:scale(1.02);
}

.dark{
    background:#1d1d1d;
    color:white;
}

.dark .container{
    background:#2d2d2d;
}

.dark li{
    background:#444;
    color:white;
}
